.RecentVideos {
    text-align: left;
}

.SectionHeading {
    display: inline-block;
    padding: 25px;
}

.VideosSection {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; 
}

.Video {
    display: flex;
    flex-flow: column nowrap;    
}

.Video span{
    padding: 10px;
    font-weight: bold;
}

video {
    object-fit: cover;
}


